
<div id="index">
	<div id="title">Locate Address
		<button id="current-loc-request">
			<img src="/img/location.svg" class="icon" />
			<img src="/img/loader.svg" class="loader" />
			<span>Use current location</span>
		</button>
	
		<div id="choice">or <span id="orTouch">click</span> the map</div>
	</div>

	<div id="address-container">
		<div id="address"></div>
		<button id="copy-address" data-clipboard-target="#address">
			<img src="/img/tick.svg" class="tick" />
			<img src="/img/clipboard.svg" class="icon" />
			<span>Copy address</span>
		</button>		
	</div>

	<div id="map"></div>
</div>

<script type="text/javascript">
	function mapsReady(){

		var middleOfAtlantic = {lat: 34.717143, lng: -41.105727},
		map = new Site.Map({ container: $('#map'), location: middleOfAtlantic, zoom: isMobile ? 2 : 3 }),
		geocoder = new Site.Geocoder(),
		Index = {

			geocodeCount: 0,
			usingCurrentLocation: false,
			maxZoom: 17,
			currentZoom: 17,
			lastWatchLocationTime: Date.now(),
			lastWatchInterval: 5000,

			init: function(){
				this.bindEvents();
			},

			getLocationDetailsFromPosition: function(position){
				return { lat: position.coords.latitude, lng: position.coords.longitude, accuracy: position.coords.accuracy };
			},

			bindEvents: function(){
				var clipboard = new Clipboard('#copy-address'),
				$copyAddress = $('#copy-address');
				clipboard.on('success', function(e) {
					$copyAddress.addClass('success');
					setTimeout(function(){
						$copyAddress.removeClass('success');
					}, 1000);
				});

				var $currentLocationRequestBtn = $('#current-loc-request');
				$currentLocationRequestBtn.on('click', function(){
					$currentLocationRequestBtn.addClass('requesting');

					navigator.geolocation.getCurrentPosition(function(position){
						$currentLocationRequestBtn.removeClass('requesting');
						Index.setCurrentLocation(Index.getLocationDetailsFromPosition(position));
						Index.watchLocation();
						Index.prevPositionAccuracy = position.coords.accuracy;
					}, function(error){
						console.warn('Safari and FF require wifi connection to web to determine location');
					},{
						enableHighAccuracy: true
					});
				});

				map.on('click', function(obj, latlng){
					Index.setMapLocation(latlng);
					Index.clearWatch();
					Index.removeAccuracyCircle();
					$('#index').removeClass('hide-current-location');
				});

				/*map.on('zoom-changed', function(){
					console.log('zoom changed', map.getZoom());
				});	*/
				
				/*map.on('dragstart', function(){
				});
				
				map.on('drag', function(){
				});

				map.on('dragend', function(){
				});*/

				map.on('marker-dragstart', function(){
					Index.clearWatch();
					Index.removeAccuracyCircle();
				});

				map.on('marker-drag', function(){
				});

				map.on('marker-dragend', function(){
					Index.performGeocode();
					$('#index').removeClass('hide-current-location');
				});

				map.on('marker-dblclick', function(){
					map.panTo(map.marker.getPosition());
					map.setZoom(Index.maxZoom);
				});			
			},

			setCurrentLocation: function(latlng){
				map.panTo(latlng);

				Index.removeAccuracyCircle();
				Index.accuracyCircle = new google.maps.Circle({
					strokeColor: '#D43D38',
					strokeOpacity: .25,
					strokeWeight: 2,
					fillColor: '#D43D38',
					fillOpacity: 0.05,
					map: map,
					center: latlng,
					radius: latlng.accuracy *2
				});

				var latlngBounds = new google.maps.LatLngBounds(), distance = latlng.accuracy * 2;
				latlngBounds.extend(google.maps.geometry.spherical.computeOffset(map.getCenter(), distance, 0));
				latlngBounds.extend(google.maps.geometry.spherical.computeOffset(map.getCenter(), distance, 90));
				latlngBounds.extend(google.maps.geometry.spherical.computeOffset(map.getCenter(), distance, 180));
				latlngBounds.extend(google.maps.geometry.spherical.computeOffset(map.getCenter(), distance, 270));
				map.fitBounds(latlngBounds);

				Index.setMapLocation(latlng);

				$('#index').addClass('hide-current-location');
			},

			removeAccuracyCircle: function(){
				if(Index.accuracyCircle){
					Index.accuracyCircle.setMap(null);
					Index.accuracyCircle = null;
				}
			},

			watchLocation: function(latlng){
				Index.watchID = navigator.geolocation.watchPosition(function(position) {
					var accuracy = position.coords.accuracy;
					if(accuracy <= Index.prevPositionAccuracy){
						Index.prevPositionAccuracy = accuracy;
						Index.setCurrentLocation(Index.getLocationDetailsFromPosition(position));
					}
				});
			},

			clearWatch: function(){
				navigator.geolocation.clearWatch(Index.watchID);
			},

			setMapLocation: function(latlng){
				$('#index').addClass('interaction');

				map.marker = new Site.Marker(latlng);
				Index.performGeocode();
			},

			performGeocode: function(){
				geocoder.geocode(map.marker.getPosition())
				.then(function(results, status){
					//console.log(results, status);
	
					$('#index').removeClass('no-results');
					$('#address').html(results[0].formatted_address);

/*					results.forEach(function(result){
						console.log(result);
					});
console.log('---------------------------');*/

					++Index.geocodeCount;

					if(Index.geocodeCount >= 2 && !$('#index').hasClass('multiple-search')) {
						$('#index').addClass('multiple-search')
					}

				}).catch(function(e, status){

					$('#index').addClass('no-results');
					$('#address').html('No address found');

				});
			}
		};

		Index.init();

		// handle resize
		var res;
		$(window).on('resize', function(){
			if (res){clearTimeout(res)};
			res = setTimeout(function(){
				map.recenter();
			},250);
		});

		// states for buttons
		$('button').on('mousedown touchstart', function(){
			$(this).addClass('over');
		});

		$('button').on('mouseup touchend', function(){
			$(this).removeClass('over');
		});

		if(isMobile){
			$('#orTouch').html('touch');
		}
	}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBti1MfyPvObCsftJFKQNz8rH7s-x7ZIf0&callback=mapsReady&libraries=geometry"></script>
