@import 'vars';

#index {
	width: 100%;
	height: 100%;
	font-size: 1rem;

	#title {
		pointer-events:none;
		position: absolute;
		z-index: 100;
		top: 40%;
		width: 100%;
		left: 0;
		text-align: center;
		font-size: 4em;
		color: $color0;
		background: rgba(255, 255, 255, .5);
		border-top: 2px dotted $color0;
		border-bottom: 2px dotted $color0;
		padding-bottom:	1rem;
		font-family: 'Lobster', cursive;
		transition: all .5s;
		box-sizing: border-box;

		button {
			position: absolute;

			&#current-loc-request {
				top: 120%;
				left: 50%;
				margin-left: -115px;

				img {
					vertical-align: -4px;
				}

				img.icon {
					display: inline;
				}

				img.loader {
					display: none;
				}

				&.requesting {
					img.icon {
						display: none;
					}

					img.loader {
						display: inline;
					}
				}
			}		
		}

		#choice {
			position: absolute;
			height: 100%;
			left: 50%;
			top: 200%;
			margin-left: -70px;
			text-align: center;
			font-size: 1.5rem;
			font-style: italic;
			transition: all .5s;
		}
	}

	&.interaction.no-results {
		#address-container {
			button {
				&#copy-address {
					opacity: 0;
				}
			}
		}
	}

	&.interaction {
		#title {
			top: 110px;
			font-size: 2rem;
			padding-top: .75rem;
		
			button {
				&#current-loc-request {
					left: .25rem;
					top: .25rem;
					margin-left: 0;

					span {
						display: none;
					}					
				}
			}

			#choice {
				opacity: 0;
			}
		}

		#address-container {
			button {
				&#copy-address {
					opacity: 1;
					max-width: 220px;

					img.icon {
						display: inline;
					}

					img.tick {
						display: none;
					}

					&.success {
						img.icon {
							display: none;
						}

						img.tick {
							display: inline;
						}
					}
				}
			}
		}
	}

	&.multiple-search {
		#title {		
			button {
				&#copy-address {
					span {
						display: none;
					}
				}				
			}
		}
	}

	&.hide-current-location {
		button#current-loc-request {
			opacity: 0;
		}
	}

	#map {
		width: 100%;
		height: 100%;
	}

	#address-container {
		pointer-events:none;
		position: absolute;
		width: 100%;
		bottom: 1rem;
		padding: 1rem;
		font-size: 3rem;
		z-index: 100;
		font-style: italic;
		text-shadow: 3px 2px 0px #fff;
		color: $color0;
		box-sizing: border-box;
		display: flex;

		#address {
			flex: 1 1 auto;
			align-self: flex-end;
			margin-right: 15px;

			&::selection {
				background: transparent;
			}
		}

		button {
			width: 25%;
			flex: 0 1 auto;

			&#copy-address {
				margin: 0 auto;
				left: auto;
				right: .25rem;
				opacity: 0;
	
				img {
					vertical-align: -3px;
				}
			}
		}


	}	
}

// Media queries
@media screen and (orientation:portrait) {
	html.is-mobile {
		#index {
			#title {
				padding-top: .5rem;
			}
		}
	}
}

@media screen and (orientation:landscape) {
	html.is-mobile {
	}
}

// Mobile only
html.is-mobile {
	#index {
		font-size: .75rem;

		#address-container {
			font-size: 2rem;
		}
	}
}
