@import 'reset';
@import 'vars';

html {
	overflow: hidden;
}

body {
	font-family: 'Lobster Two', cursive;
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	font-size: 16px;
	background-color: #c4d9d3;
}

#tank {
	position: relative;
	height: 100%;

	header, footer {
		position: absolute;
		width: 100%;
	}

	header {
		top: 0;

		.ad {
			position: absolute;
			top: 5px;
			left: 50%;
			margin-left: -160px;
			z-index: 100;
		}
	}

	footer {
		bottom: 0;
	}
}

button {
	pointer-events: auto !important;
	border: 2px solid $color0;
	background: rgba(255, 255, 255, .5);
	border-radius: 1rem;
	font-size: 1.5rem;
	font-family: 'Lobster Two', cursive;
	padding: .5rem .75rem .5rem .75rem;
	color: $color0;
	font-style:  italic;
	font-weight:  bold;
	transition: all .25s;
	outline: none;
	cursor: pointer;

	span {
		width: auto;
		height: auto;
		overflow: hidden;
		padding: 0 .2rem 0 0;
		position: relative;
	}

	img {
		position: relative;
		width: 22px;
		height: 25px;
	}

	svg {
		transition: all .25s;
		fill: $color0;
		width: 25px;
		height: 25px;
		position: relative;
		top: 3px;
	}	
}

button.over {
	background: $color0hex;
	border-color: #fff;
	color: #fff;

	svg {
		fill: #fff;
	}	
}

@import 'index';

// Mobile only
html.is-mobile {
	button {
		padding-bottom: .3rem;

		svg {
			position: relative;
			top: 1px;			
		}

		span {
			position: relative;
			top: -2px;
			padding: 0;
		}
	}
}

