<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<!-- translations -->
	<title lang="en">Locate Address</title>
	<meta name="description" lang="en" content="Find an address anywhere in the world">
	<meta name="keywords" lang="en" content="locate, addresses, find, address, position, location, finder, where am i">

	<title lang="fr">Localiser l'Adresse</title>
	<meta name="description" lang="fr" content="Trouver une adresse partout dans le monde">
	<meta name="keywords" lang="fr" content="localiser, adresses, trouver, adresse, position, emplacement, chercheur, Où suis-je">

	<title lang="de">Adresse Finden</title>
	<meta name="description" lang="de" content="Finden Sie eine Adresse überall auf der Welt">
	<meta name="keywords" lang="de" content="lokalisieren, adressen, finden, adresse, position, lage, finder, 
wo bin ich">

	<title lang="es">Localizar Dirección</title>
	<meta name="description" lang="es" content="Encuentra una dirección en cualquier parte del mundo">
	<meta name="keywords" lang="es" content="Localizar, direcciones, encontrar, dirección, posición, ubicación, buscador, Dónde estoy">

	<title lang="cn">找到地址</title>
	<meta name="description" lang="cn" content="在世界任何地方找到地址">
	<meta name="keywords" lang="cn" content="定位，地址，查找，地址，位置，位置，取景器, 我在哪里">

	<title lang="in">पता पता</title>
	<meta name="description" lang="in" content="दुनिया में कहीं भी एक पता खोजें">
	<meta name="keywords" lang="in" content="का पता लगाने, पते, मिल जाए, पता, स्थिति, स्थान, खोजक, 
मैं कहाँ हूँ">

	<meta property="og:title" content="Locate Address">
	<meta property="og:description" content="Find an address anywhere in the world">
	<meta property="og:image" content="">
	<meta property="og:url" content="http://locate-address.com">

	<meta property="og:site_name" content="">
	<meta name="twitter:image:alt" content="">

	<!-- meta property="fb:app_id" content="your_app_id" /-->
	<meta name="twitter:site" content="@fonio">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
	<script type="text/javascript" src="/dist/js/main.js"></script>

	<script type="text/javascript">
		window['isMobile'] = false;
		try{ if(document.createEvent("TouchEvent")) { document.getElementsByTagName('html')[0].className = 'is-mobile'; window['isMobile'] = true; }}
		catch(e){}		
	</script>

	<link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two" rel="stylesheet">	
	<link rel="stylesheet" type="text/css" href="/dist/css/styles.css" />
</head>
<body>
	<div id="tank">
		<header>
			<div class="ad">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Addresses -->
				<ins class="adsbygoogle"
					style="display:inline-block;width:320px;height:100px"
					data-ad-client="ca-pub-5355362161081315"
					data-ad-slot="3563314542"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>			
			</div>		
		</header>
		{{{body}}}
		<footer>
		</footer>
	</div>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-91632954-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>